@keyframes cursorBlink {
    0%   {visibility: hidden;}
    50%  {visibility: visible;}
}
 
#typeHereExtension_bar {
    all: unset;
    z-index: 100000 !important;
    width: 100% !important;
    background: #0f0;
    height: 50px;
    position: fixed !important;
    top: auto !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
}

#typeHereExtension_barHandle {
    z-index: 100001 !important;
    width: 100% !important;
    height: 2px;
    top: -2px;
    background-color: #555;
}
